/*! typography, forms */
@tailwind base;
/*! buttons, cards, navigation bars */
@tailwind components;
/*! single-purpose classes */
@tailwind utilities;


@layer base {
    :root {
      font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    
      color: #000;
      background-color: #fff;
    }
}


@layer components {
    @media (prefers-color-scheme: dark) {
        :root {
            color: #fff;
            background-color: #000;
        }
    }
}


@layer utilities {
    .outline-all, .outline-all > * {
        @apply outline outline-orange-600;
    }

    .squares-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0;
    }


    .square {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding: 1rem;
    }

    .s-t {
        border-bottom: 2px solid;
    }

    .s-b {
        border-top: 2px solid;
    }

    .s-l {
        border-right: 2px solid;
    }

    .s-r {
        border-left: 2px solid;
    }

    .O {
        @apply w-3/4 h-3/4 bg-white rounded-full
        flex items-center justify-center;
    }

    .O::before {
        @apply w-2/3 h-2/3 bg-black rounded-full;
        content: "";
    }

    .X {
        @apply w-full h-full relative;
        /* flex items-center justify-center; */
    }

    .X::before,
    .X::after {
        @apply absolute top-1/2 left-1/2 w-[10%] h-[90%] bg-white;
        content: "";
    }

    .X::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .X::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}